In [ ]:
-- 1. Create a table called employees with the following structure--
-- Write the SQL query to create the above table with all constraints.
-- emp_id (integer, should not be NULL and should be a primary key)
--  emp_name (text, should not be NULL)
--  age (integer, should have a check constraint to ensure the age is at least 18)
--  email (text, should be unique for each employee)
--  salary (decimal, with a default value of 30,000).
create database Employee;
use Employee;
create table employee
(emp_id int PRIMARY KEY,
emp_name varchar(20) not null,
age int check (age>=18),
email varchar(20) unique,
salary int default(30000));

# 2.Explain the purpose of constraints and how they help maintain data integrity in a database. Provide
# examples of common types of constraints. **bold text**

Ans: Constraints enforce rules on data in a database to ensure accuracy, consistency, and integrity.

Constraints are below:
1) PRIMARY KEY - Uniquely identifies each row - id INT PRIMARY KEY
2) Unique - Ensures all values are different - email VARCHAR(100) UNIQUE
3) NOT NULL - Disallows NULL values - name VARCHAR(50) NOT NULL
4) FOREIGN KEY - Links to primary key in another table - FOREIGN KEY (dept_id) REFERENCES department(id)
5) CHECK - Restricts values based on a condition - age INT CHECK (age >= 18)
6) DEFAULT - Sets a default value for a column - status VARCHAR(10) DEFAULT 'active'

In [ ]:
3. Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify
your answer.

Ans: You apply the NOT NULL constraint to ensure a column always has a value â€” preventing incomplete or missing data.
A PRIMARY KEY cannot contain NULL values, because it must uniquely identify each row, and NULL means "unknown", which breaks uniqueness and identity.

# 4.Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an
# example for both adding and removing a constraint.

Ans: ALTER TABLE table_name ADD CONSTRAINT constraint_name constraint_type (column_name);
ALTER TABLE employees ADD CONSTRAINT emp_email_unique UNIQUE (email);

# 5.Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints. Provide an example of an error message that might occur when violating a constraint
Ans:
Violating constraints blocks the operation and shows an error. Examples:

1) Insert duplicate in PRIMARY KEY ---ERROR 1062: Duplicate entry '101' for key 'PRIMARY'
2) Insert NULL in NOT NULL column ------ERROR 1048: Column 'name' cannot be null
3) Foreign key mismatch on delete ------Error: Cannot delete or update a parent row: a foreign key constraint fails

In [ ]:
6.You created a products table without constraints as follows:
 CREATE TABLE products (
 product_id INT,
 product_name VARCHAR(50),
 price DECIMAL(10, 2));
 Now, you realise that
 The product_id should be a primary key
 The price should have a default value of 50.00

Answer:
1) Add PRIMARY KEY to product_id:
ALTER TABLE products
ADD CONSTRAINT pk_product_id PRIMARY KEY (product_id);

2) Add DEFAULT value to price:
ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;

# 7.You have two tables: 1st table :  Students_ID[1,2,3], Students_Name[Alice, Bob, Charlie], Class_Id [101,102,101] 2nd table: class_id [101,102,103],class name [math, science, history],-------------Write a query to fetch the student_name and class_name for each student using an INNER JOIN

Answer: SELECT
s.Students_Name,
c.class_name
FROM
students s
INNER JOIN
classes c
ON
s.Class_Id = c.class_id;

# 8.*Consider* the following three tables


Answer: SELECT
  p.order_id,
  c.customer_name,
  p.product_name
FROM
  products p
LEFT JOIN orders o ON p.order_id = o.order_id
LEFT JOIN customers c ON o.customer_id = c.customer_id;

# 9.Given the following tables:

Answer:
SELECT
p.product_name,
SUM(s.amount) AS total_sales
FROM
sales s
INNER JOIN
products p ON s.product_id = p.product_id
GROUP BY
p.product_name;

# *10.You are given three tables:*

Answer:

SELECT
  o.order_id,
  c.customer_name,
  od.quantity
FROM
  Orders o
INNER JOIN
  Customers c ON o.customer_id = c.customer_id
INNER JOIN
  Order_Details od ON o.order_id = od.order_id;